<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Monitoraggio Identità
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Insights</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-card class="ion-card-chart ion-no-margin animate__animated animate__fadeIn">

      <!-- Skeletons -->
      <ng-container *ngIf="!content_loaded">
        <ion-card-header>
          <div>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 150px"></ion-skeleton-text>
            </ion-card-subtitle>
          </div>
          <ion-badge color="danger" mode="ios">
            <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
          </ion-badge>
        </ion-card-header>

        <ion-skeleton-text animated style="width: calc(100% - 40px); margin: 16px auto 16px auto; min-height: 140px;">
        </ion-skeleton-text>
      </ng-container>

      <!-- Chart -->
      <ng-container *ngIf="content_loaded">
        <ion-card-header>
          <div>
            <ion-card-title>{{ totalReports }} Segnalazioni 🔍</ion-card-title>
            <ion-card-subtitle>Ultimi 30 giorni</ion-card-subtitle>
          </div>
      
          <!-- 🔹 Badge dinamico -->
          <ion-badge [color]="percentageChangeTotal >= 0 ? 'danger' : 'success'" mode="ios">
            <ion-icon [name]="percentageChangeTotal >= 0 ? 'caret-up' : 'caret-down'"></ion-icon> 
            {{ percentageChangeTotal >= 0 ? '+' : '' }}{{ percentageChangeTotal }}% rispetto al mese scorso
          </ion-badge>
        </ion-card-header>
      
        <canvas baseChart [data]="bar_chart_data" [options]="bar_chart_option" [type]="bar_chart_type"
          class="ion-padding">
        </canvas>
      </ng-container>
      

    </ion-card>

    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="white">Segnalazioni per piattaforma</ion-label>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!content_loaded">
      <ion-item button detail="false" *ngFor="let i of [].constructor(4);">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h3>
          <p class="font-size-smallest">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">
      <ion-item *ngFor="let report of platformReports" button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon [color]="report.color" [name]="report.icon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>{{ report.platform }}</h3>
          <p class="font-size-smallest">{{ report.totalReports }} segnalazioni</p>
        </ion-label>
        <ion-note [color]="report.criticalReports > 0 ? 'danger' : 'medium'" 
                  class="ion-note-small font-weight-500 ion-padding-end-small">
          🚨 {{ report.criticalReports }} critici
        </ion-note>
      </ion-item>
    </ion-list>
    

  </div>

</ion-content>
