<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <img src="assets/icon/Home.png" class="tab-icon-home">
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="insights">
      <img src="assets/icon/Insights.png" class="tab-icon-insights">
      <!-- <ion-label>Insights</ion-label> -->
    </ion-tab-button>

    <!-- Placeholder for fab button -->
    <ion-tab-button class="ion-tab-button-placeholder">
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <img src="assets/icon/DetectedContent.png" class="tab-icon-content">
      <!-- <ion-label>Detected Contents</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <img src="assets/icon/IdentityTrigger.png" class="tab-icon">
      <!-- <ion-label>Identity Trigger</ion-label> -->
    </ion-tab-button>
 
  </ion-tab-bar>

  <!-- <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-tabs>