<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    
    <ng-template swiperSlide>
      <ion-icon name="shield-checkmark" class="animate__animated animate__fadeInDown"></ion-icon>
      <h3 class="animate__animated animate__fadeInUp">Protect your identity<br>across social media</h3>
      <p class="animate__animated animate__fadeInUp">
        Our system continuously monitors social platforms to detect unauthorized use of your identity.
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="search"></ion-icon>
      <h3>Real-time content monitoring</h3>
      <p>
        We scan new uploads, comments, and hashtags to detect potential impersonation and identity theft.
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="eye"></ion-icon>
      <h3>AI-powered facial and voice recognition</h3>
      <p>
        Our AI verifies thumbnails and audio to identify content featuring your face or voice.
      </p>
    </ng-template>

  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" (click)="nextSlide()" *ngIf="!last_slide">
    Next
  </ion-button>
  <ion-button class="ion-margin" expand="block" (click)="getStarted()" *ngIf="last_slide">
    Get Started
  </ion-button>
</ion-footer>
