<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      Add Identity Trigger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <form class="form-default" [formGroup]="identityTriggerForm" (submit)="save()">

      <ion-list class="item-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Identity Name</ion-label>
          <ion-input formControlName="name" placeholder="Full Name" type="text"></ion-input>
        </ion-item>
        <ion-text *ngIf="!identityTriggerForm.controls.name.valid && submit_attempt" color="danger">
          <small class="error-message-form">Name is required.</small>
        </ion-text>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Platform</ion-label>
          <ion-select formControlName="platform" placeholder="Select Platform">
            <ion-select-option value="YOUTUBE">YouTube</ion-select-option>
            <ion-select-option value="INSTAGRAM">Instagram</ion-select-option>
            <ion-select-option value="TIKTOK">TikTok</ion-select-option>
            <ion-select-option value="FACEBOOK">Facebook</ion-select-option>
            <ion-select-option value="TWITTER">Twitter</ion-select-option>
            <ion-select-option value="LINKEDIN">LinkedIn</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Aliases</ion-label>
          <ion-chip *ngFor="let alias of identityTriggerForm.controls.aliases.value">
            {{ alias }} <ion-icon name="close-circle" (click)="removeAlias(alias)"></ion-icon>
          </ion-chip>
          <ion-input placeholder="Add Alias" [(ngModel)]="newAlias"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Keywords</ion-label>
          <ion-chip *ngFor="let keyword of identityTriggerForm.controls.keywords.value">
            {{ keyword }} <ion-icon name="close-circle" (click)="removeKeyword(keyword)"></ion-icon>
          </ion-chip>
          <ion-input placeholder="Add Keyword" [(ngModel)]="newKeyword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Tags</ion-label>
          <ion-chip *ngFor="let tag of identityTriggerForm.controls.tags.value">
            {{ tag }} <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
          </ion-chip>
          <ion-input placeholder="Add Tag" [(ngModel)]="newTag"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Suspect Channels</ion-label>
          <ion-chip *ngFor="let channel of identityTriggerForm.controls.suspectChannels.value">
            {{ channel }} <ion-icon name="close-circle" (click)="removeChannel(channel)"></ion-icon>
          </ion-chip>
          <ion-input placeholder="Add Channel" [(ngModel)]="newChannel"></ion-input>
        </ion-item>

      </ion-list>

    </form>

  </div>

</ion-content>

<ion-footer class="modal-footer" collapse="fade">
  <ion-toolbar>
    <form class="form-default" [formGroup]="identityTriggerForm" (submit)="save()">
      <ion-button type="submit" expand="block" color="primary">
        Save Identity Trigger
      </ion-button>
    </form>
  </ion-toolbar>
</ion-footer>
